
/* Mobile Device */
@media screen and (max-width:576px) {

    .header-section {
        box-shadow: none;
    }

    .navbar-wrapper{
        flex-direction: column;
    }

    .main-menu ul {
        flex-direction: column;
        margin-top: 32px;
    }

    .banner-section {
        background-image: none;
    }

    .banner-wrapper {
        flex-direction: column-reverse;
    }

    .banner-content {
        background-image: url('../img/group_14.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 50px;
    }

    .btn-primary {
        padding: 18px 30px;
    }

    .banner-content h4 {
        font-size: 45px;
    }
    
    .banner-content h2 {
        font-size: 90px;
    }
    
    .banner-content p {
        font-size: 18px;
    }
    
    .banner-content p i {
        margin-right: 5px;
        font-size: 20px;
    }

    .we-are-gamer-section {
        padding: 50px 0;
    }

    .gamer-wrapper {
        flex-direction: column;
    }
    
    .gamer-photo {
        width: 100%;
    }
    
    .gamer-content {
        width: 100%;
        text-align: center;
    }

    .games-videos-wrapper {
        grid-template-columns: 1fr;
    }

    .section-title {
        font-size: 25px;
    }

    .section-description {
        font-size: 14px;
    }
}


/* Tablet Device */
@media screen and (min-width:577px) and (max-width:768px) {
    .navbar-wrapper{
        flex-direction: column;
    }

    .main-menu ul {
        margin-top: 32px;
    }

    .banner-section {
        background-image: none;
    }

    .banner-wrapper {
        flex-direction: column-reverse;
    }

    .we-are-gamer-section {
        padding: 50px 0;
    }

    .gamer-wrapper {
        flex-direction: column;
    }
    
    .gamer-photo {
        width: 100%;
    }
    
    .gamer-content {
        width: 100%;
        text-align: center;
    }

    .games-videos-wrapper {
        grid-template-columns: repeat(2,1fr);
    }
}