/* COMMON CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.color-light-pink {
    color: #FF42A5;
}

.color-light-blue {
    color: #4EC5F7;
}

.bg-light-pink {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.bg-light-pink-100 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.bg-light-blue {
    background: #4EC5F7;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    padding: 20px 40px;
    display: inline-block;
}

.section-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.section-title .color-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0;
}

/* COMMON CSS END */

/* HEADER SECTION CSS */

.header-section {
    padding: 37px 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-wrapper h2 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.logo img {
    width: 86px;
    height: 40px;
}

.main-menu ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-menu ul li a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow-action-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 24px;
}

.follow-action-wrapper img {
    width: 24px;
    height: 24px;
}

.follow-action-wrapper .yt {
    width: 34px;
    height: 24px;
}

/* BANNER SECTION CSS START */

.banner-section {
    background-image: url('../img/group_14.png');
    background-repeat: no-repeat;
    background-size: 45% 100%;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.banner-content {
    text-align: left;
}

.banner-content h4 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h2 {
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

.banner-content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 15px;
}

.banner-content p i {
    font-size: 24px;
    margin-right: 10px;
}

.button-wrapper{
    display: flex;
    gap: 32px;
    margin-top: 50px;
}
.button-wrapper a{
    display: inline-block;
}

.banner-photo {}

/* WE ARE GAMER SECTION CSS */
.we-are-gamer-section {
    padding: 90px 0;
}

.gamer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer-photo {
    width: 55%;
}

.gamer-content {
    width: 45%;
    text-align: right;
}

.gamer-content h4{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}

.gamer-content h6{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 15px;
}

.gamer-content h5{
    color: #534C64;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

/* GAMES VIDEOS SECTION CSS */
.games-videos-section {
    padding: 100px 0;
}

.games-videos-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    margin-top: 48px;
}


.video-item p {
    margin-top: 24px;
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}


.game-photo {
    position: relative;
    border-radius: 15px;
}

.game-photo .game-img::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 4px;
    content: "";
	opacity: 0;
	visibility: hidden;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
}

.overlay-text {
    position: absolute;
	top: 50%;
	left: 0;
	right: 0;
    text-align: center;
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
}

.overlay-text i {
    font-size: 24px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
}
.overlay-text p {
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-photo:hover .overlay-text {
	opacity: 1;
	visibility: visible;
}

.game-photo:hover .game-img::before  {
	opacity: 1;
	visibility: visible;
}

.game-photo:hover {
    border: 2px solid #F948B2;
}



